@media (max-width: 720px) {
    article {
        margin: 50px auto 0;
        h1 {
            font-size: 26px;
        }
        h2 {
            font-size: 20px;
            margin: 25px 0 5px;
        }
        p {
            font-size: 14px;
        }
    }
}