$color-accent: rgba(203, 30, 37, 1);
$primary-color: rgba(25, 25, 25,1);
$deep-black: rgba(0,0,0,1);
$background-default: rgba(253, 253, 253, 1);
$background-secondary: rgba(0,0,0,0.87);
$background-tertiary: rgba(237,234,226,0.62);
$background-lighter: rgba(250,250,250,1);

$activated-status: rgba(181, 139, 62, 1);
$activated-secondary: rgba(255, 179, 49, 1);

$text-color-primary: $background-default;
$text-color-secondary: rgba(0,0,0,0.38);
$text-color-info: rgba(0,0,0,0.54);
$text-color-form-primary: rgba(172,159,128,1);
$text-color-form-secondary: rgba(0,0,0,0.38);
$text-color-form-tertiary: rgb(211,191,156);
$text-color-lighter: rgba(255,255,255,0.34);
$text-color-black: rgba(25,25,25,1);
$text-color-default: rgba(255,255,255,1);
$text-color-table: rgba(74,74,74,1);

$border-default: rgba(0,0,0,0.12);
$border-secondary: rgba(0,0,0,0.24);
$border-hr: rgba(0,0,0,0.1);
$border-paginate: rgba(204,209,217,1);

$hover-table: rgba(0,0,0,0.06);
