$color-accent: rgba(57, 122, 242, 1);
$secondary-accent: rgba(41,147,64, 1);
$third-accent: rgba(253,65,53,1);
$fourth-accent: rgba(255,187,0,1);

$primary-color: rgba(25, 25, 25,1);
$background-default: rgba(241, 242, 247, 1);
$background-secondary: rgba(255,255,255,1);

$border-dafault: rgba(204, 204, 204, .6);

$default-shadow-box: 0px 0px 25px 0px rgba(0,0,0,0.3);